---
import Layout from "../../../layouts/Layout.astro";
import BasicMeta from "../../../components/meta/BasicMeta.jsx";
import OpenGraphMeta from "../../../components/meta/OpenGraphMeta.jsx";
import TwitterCardMeta from "../../../components/meta/TwitterCardMeta.jsx";
import TagPostList from "../../../components/TagPostList.jsx";
import config from "../../../lib/config.js";
import {
  countPosts,
  listPostContent,
  PostContent,
} from "../../../lib/posts.js";
import { getTag, listTags, TagContent } from "../../../lib/tags.js";

type Props = {
  posts: PostContent[];
  tag: TagContent;
  page?: string;
  pagination: {
    current: number;
    pages: number;
  };
};

const params = Astro.params;
const queries = params.slug?.toString().split("/");
const [slug, page] = [queries?.[0] || "", queries?.[1] || ""];
const posts = listPostContent(
  page ? parseInt(page as string) : 1,
  config.posts_per_page,
  slug
);
let _tags = new Set<string>();
posts.forEach((post) => {
  if (post.tags) {
    post.tags.forEach((tag) => _tags.add(tag));
  }
});
const tags = listTags().filter((tag) => _tags.has(tag.slug));
const tag = getTag(slug);
const pagination = {
  current: page ? parseInt(page as string) : 1,
  pages: Math.ceil(countPosts(slug) / config.posts_per_page),
};
const props: {
  posts: PostContent[];
  tags: TagContent[];
  tag: TagContent;
  pagination: { current: number; pages: number };
  page?: string;
} = { posts, tag, tags, pagination };
if (page) {
  props.page = page;
}

const url = `/posts/tags/${tag.name}` + (page ? `/${page}` : "");
const title = tag.name;

export const getStaticPaths = async () => {
  const paths = listTags().flatMap((tag) => {
    console.log(tag);
    const pages = Math.ceil(countPosts(tag.slug) / config.posts_per_page);
    return Array.from(Array(pages).keys()).map((page) => {
      console.log(page)
      return page === 0
        ? {
            params: { 'slug': tag.slug },
          }
        : {
            params: { 'slug': [tag.slug, (page + 1).toString()].join('/') },
          };
    });
  });
  console.log(paths)
  return paths
};
---

<Layout>
  <BasicMeta url={url} title={title} />
  <OpenGraphMeta url={url} title={title} />
  <TwitterCardMeta url={url} title={title} />
  <TagPostList posts={posts} tag={tag} pagination={pagination} tags={tags} />
</Layout>
