---
import Layout from "../../layouts/Layout.astro";
import BasicMeta from "../../components/meta/BasicMeta.jsx";
import OpenGraphMeta from "../../components/meta/OpenGraphMeta.jsx";
import TwitterCardMeta from "../../components/meta/TwitterCardMeta.jsx";
import PostList from "../../components/PostList.jsx";
import config from "../../lib/config.js";
import { countPosts, listPostContent, PostContent } from "../../lib/posts.js";
import { listTags, TagContent } from "../../lib/tags.js";

type Props = {
    posts: PostContent[];
    tags: TagContent[];
    pagination: {
        current: number;
        pages: number;
    };
};

const url = "/posts";
const title = "All posts";

const posts = listPostContent(1, config.posts_per_page);
let _tags = new Set<string>();
  posts.forEach(post => { 
    if (post.tags) {
      post.tags.forEach(tag => _tags.add(tag))
    }
  })
const tags = listTags().filter(tag => _tags.has(tag.slug));
const pagination = {
    current: 1,
    pages: Math.ceil(countPosts() / config.posts_per_page),
};

console.log({posts})
---
<Layout>
    <BasicMeta url={url} title={title} />
    <OpenGraphMeta url={url} title={title} />
    <TwitterCardMeta url={url} title={title} />
    <PostList posts={posts} tags={tags} pagination={pagination} />
</Layout>
