---
import Layout from "../layouts/Layout.astro";
import BasicMeta from "../components/meta/BasicMeta.jsx";
import OpenGraphMeta from "../components/meta/OpenGraphMeta.jsx";
import TwitterCardMeta from "../components/meta/TwitterCardMeta.jsx";
import { SocialList } from "../components/SocialList.jsx";
---

<Layout>
    <BasicMeta url={"/"} />
    <OpenGraphMeta url={"/"} />
    <TwitterCardMeta url={"/"} />
    <div class="container">
        <div>
            <h1 class='h1'>
                Looking for well grounded posts<span class="fancy">?</span>
            </h1>
            <span class="handle">@zyoruk</span>
            <h2 class='h2'>That&apos;s not here.&#128518;</h2>
            <SocialList />
        </div>
    </div>
    <style>
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 auto;
            padding: 0 1.5rem;
            height: 100%;
        }
        .h1 {
            font-size: 2.5rem;
            margin: 0;
            font-weight: 500;
        }
        .h2 {
            font-size: 1.75rem;
            font-weight: 400;
            line-height: 1.25;
        }
        .fancy {
            color: #15847d;
        }
        .handle {
            display: inline-block;
            margin-top: 0.275em;
            color: #9b9b9b;
            letter-spacing: 0.05em;
        }
        @media (min-width: 769px) {
            .h1 {
                font-size: 3rem;
            }
            .h2 {
                font-size: 2.25rem;
            }
        }
    </style>
</Layout>

