.container {
    position: fixed;
    width: 38px;
    height: 38px;
    cursor: pointer;
    top: 1rem;
    left: 1.25rem;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .meat {
    position: absolute;
    width: 28px;
    height: 2px;
    background: #222;
    top: calc(50% - 2px / 2);
    left: calc(50% - 28px / 2);
    transition: all 150ms ease-in;
  }
  .meat1 {
    transform: translateY(-10px);
  }
  .meat2 {
    width: calc(28px - 6px);
  }
  .meat3 {
    transform: translateY(10px);
  }
  .active .meat1 {
    transform: rotate(45deg);
  }
  .active .meat2 {
    opacity: 0;
  }
  .active .meat3 {
    transform: rotate(-45deg);
  }

  @media (min-width: 769px) {
    .container {
      display: none;
    }
  }