.categories {
    display: none;
    margin: 0;
    padding: 0;
}

.catItem { 
    list-style: none;
    margin-bottom: 0.75em;
}

@media (min-width: 769px) {
    .categories {
        display: block;
    }
}