---
import Burger from "./Burger";

let active = false;
---

<Burger
  active={active}
  onClick={() => {
    active = !active;
  }}
/>
<div class={"container " + (active ? "active" : "")}>
  <ul>
    <li>
      <a href="/" class={Astro.url.pathname === "/" ? "active" : undefined}
        >about
      </a>
    </li>
    <li>
      <a
        href="/posts"
        class={Astro.url.pathname.startsWith("/posts") ? "active" : undefined}
      >
        blog
      </a>
    </li>
  </ul>
</div>

<style>
  .container {
    width: 0;
  }
  ul {
    opacity: 0;
    width: 100%;
    height: 100vh;
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    transform: translateY(100%);
    transition: opacity 200ms;
    background-color: rgb(248, 248, 248);
  }
  .active ul {
    opacity: 1;
    transform: translateY(0);
  }
  li {
    margin-bottom: 1.75rem;
    font-size: 2rem;
    padding: 0 1.5rem 0 0;
  }
  li:last-child {
    margin-bottom: 0;
  }
  .active {
    color: #222;
  }

  @media (min-width: 769px) {
    .container {
      width: 7rem;
      display: block;
    }
    ul {
      opacity: 1;
      width: 7rem;
      top: auto;
      display: block;
      transform: translateY(0);
    }
    li {
      font-size: 1rem;
      padding: 0;
    }
  }
</style>
