.container {
    display: flex;
    margin: 0 auto;
    max-width: 60rem;
    width: 100%;
    padding: 0 1.5rem;
    height: 100%;
}

.posts {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.postItem {
    margin-bottom: 1.5rem;
    list-style: none;
}

.postList {
    margin: 0;
    margin-top: 1.5rem;
    flex: 1 0 auto;
    padding: 0;
}