.container {
  display: flex;
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1.5rem;
  height: 100%;
}

.posts {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.postList li {
  list-style: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.postList {
  margin: 0;
  padding: 0;
  flex: 1 0 auto;
}