@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');

html,
body {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(248, 248, 248);
  color: #3c3c3c;
  font-weight: 200;
  height: 100%;
  font-size: 18px;
  font-kerning: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
  font-family: 'Tiro Gurmukhi', serif;
  color: #2c2c2c;
}

#__next {
  height: 100%;
}

a {
  color: #9b9b9b;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: #2c2c2c;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
