---
import "normalize.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/favicon.svg" />
    <link rel="favicon" href="/favicon.svg" />
    <meta name="theme-color" content="#fff" />
    <link rel="stylesheet" href="/styles/global.css">
    <style>
        /* Syntax highlighting */
        .token.comment,
        .token.prolog,
        .token.doctype,
        .token.cdata,
        .token.plain-text {
        color: #6a737d;
        }
        
        .token.atrule,
        .token.attr-value,
        .token.keyword,
        .token.operator {
        color: #d73a49;
        }
        
        .token.property,
        .token.tag,
        .token.boolean,
        .token.number,
        .token.constant,
        .token.symbol,
        .token.deleted {
        color: #22863a;
        }
        
        .token.selector,
        .token.attr-name,
        .token.string,
        .token.char,
        .token.builtin,
        .token.inserted {
        color: #032f62;
        }
        
        .token.function,
        .token.class-name {
        color: #6f42c1;
        }
        
        /* language-specific */
        
        /* JSX */
        .language-jsx .token.punctuation,
        .language-jsx .token.tag .token.punctuation,
        .language-jsx .token.tag .token.script,
        .language-jsx .token.plain-text {
        color: #24292e;
        }
        
        .language-jsx .token.tag .token.attr-name {
        color: #6f42c1;
        }
        
        .language-jsx .token.tag .token.class-name {
        color: #005cc5;
        }
        
        .language-jsx .token.tag .token.script-punctuation,
        .language-jsx .token.attr-value .token.punctuation:first-child {
        color: #d73a49;
        }
        
        .language-jsx .token.attr-value {
        color: #032f62;
        }
        
        .language-jsx span[class="comment"] {
        color: pink;
        }
        
        /* HTML */
        .language-html .token.tag .token.punctuation {
        color: #24292e;
        }
        
        .language-html .token.tag .token.attr-name {
        color: #6f42c1;
        }
        
        .language-html .token.tag .token.attr-value,
        .language-html .token.tag .token.attr-value .token.punctuation:not(:first-child) {
        color: #032f62;
        }
        
        /* CSS */
        .language-css .token.selector {
        color: #6f42c1;
        }
        
        .language-css .token.property {
        color: #005cc5;
        }
    </style>
</head>
<body>
    <slot/>
</body>
</html>