---
import styles from "../../public/styles/content.module.css";
import Author from "../components/Author";
import Copyright from "../components/Copyright";
import Date from "../components/Date";
import Breadcrumbs from "../components/Breadcrumbs";
import Layout from "./Layout.astro";
import BasicMeta from "../components/meta/BasicMeta";
import JsonLdMeta from "../components/meta/JsonLdMeta";
import OpenGraphMeta from "../components/meta/OpenGraphMeta";
import TwitterCardMeta from "../components/meta/TwitterCardMeta";
import { SocialList } from "../components/SocialList";
import TagButton from "../components/TagButton";
import { getAuthor } from "../lib/authors";
import { getTag } from "../lib/tags";
import { Categories } from "../components/Categories";

type Props = {
  frontmatter: {
    title: string;
    date: string;
    slug: string;
    tags: string[];
    author: string;
    description?: string;
  };
};

const {
  frontmatter: { tags, author, date, slug, title, description },
} = Astro.props as Props;

const props = Astro.props;

const fullTags = tags.map((it) => getTag(it));
const keywords = tags.map((it) => getTag(it).name);
const authorName = getAuthor(author).name;
---

<Layout>
  <head>
    <BasicMeta
      url={`/posts/${slug}`}
      title={title}
      keywords={keywords}
      description={description}
    />
    <TwitterCardMeta
      url={`/posts/${slug}`}
      title={title}
      description={description}
    />
    <OpenGraphMeta
      url={`/posts/${slug}`}
      title={title}
      description={description}
    />
    <JsonLdMeta
      url={`/posts/${slug}`}
      title={title}
      keywords={keywords}
      date={date}
      author={authorName}
      description={description}
    />
  </head>
  <div class="container">
    <article class="post">
      <header>
        <h1>{title}</h1>
        <div class={"metadata"}>
          <Date date={date} />
          <Author author={getAuthor(author)} />
          <div class="crumbs">
            <Breadcrumbs
              crumbs={[
                {
                  name: "All posts",
                  uri: "/posts",
                },
                {
                  name: title,
                  uri: "",
                },
              ]}
            />
          </div>
        </div>
      </header>
      <div class={styles.content} set:html="props.compiledContent()"></div>
      <ul class={"tag-list"}>
        {
          tags.map((it, i) => (
            <li>
              <TagButton tag={getTag(it)} />
            </li>
          ))
        }
      </ul>
      <footer>
        <div class={"social-list"}>
          <SocialList />
        </div>
        <Copyright />
      </footer>
    </article>
    <Categories tags={fullTags} />
  </div>
  <style>
    .container {
      display: flex;
      margin: 0 auto;
      max-width: 60rem;
      width: 100%;
      padding: 0 1.5rem;
      height: 100%;
    }
    .post {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      min-height: 100%;
      padding-right: 10rem;
    }
    .metadata div:not(.crumbs) {
      display: inline-block;
      margin-right: 0.5rem;
    }
    .metadata div.crumbs {
      margin-top: 1rem;
    }
    article {
      flex: 1 0 auto;
    }
    h1 {
      margin: 0 0 0.5rem;
      font-size: 2.25rem;
    }
    .tag-list {
      list-style: none;
      text-align: right;
      margin: 1.75rem 0 0 0;
      padding: 0;
    }
    .tag-list li {
      display: inline-block;
      margin-left: 0.5rem;
    }
    .social-list {
      margin-top: 3rem;
      text-align: center;
    }
    @media (max-width: 900px) {
      .post {
        padding-right: 0;
      }
    }
  </style>
</Layout>
